$bg-color-input: #9d9d9d9e;
$bg-color-list-odd: #657cf152;
$bg-color-list-even: #4f68f67d;
$bg-color-list-checked: #6ac96eb8;
$not-search-bg-color: #FF00002D;

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  input {
    width: 100%;
  }
}

.test42 {
  display: flex;
  flex-wrap: wrap;
}

.input-wrapper {
  background-color: gray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0 2px;

  &__item {
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
    margin: 2px;
    background-color: green;
  }

  &__item-close {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::after {
      display: inline-block;
      content: "\00d7";
    }
  }

  &__chevron-down {
    &::after {
      display: inline-block;
      content: "\25bc";
    }
  }

  &__chevron-up {
    &::after {
      display: inline-block;
      content: "\25B2";
    }
  }
}

.users {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px 0;

  &__list {
    position: relative;
    display: block;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;

    &__item {
      display: flex;
      padding: 0 5px;
      justify-content: space-between;
      border-bottom: 1px solid $bg-color-input;

      &:nth-child(2n) {
        background-color: $bg-color-list-odd;
      }

      &:nth-child(2n + 1) {
        background-color: $bg-color-list-even;
      }
    }
  }
}

.display-none {
  display: none;
}

.checked-user {
  background: $bg-color-list-checked !important;
}

.not-search {
  background-color: $not-search-bg-color;
}
